#container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.input-container {
    margin: 0 auto 0 auto;
    padding: 1% 0 1% 0;
    width: 80%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: red;
    border: 6px solid darkgray;
    border-radius: 20px;
}

#board {
    width: 80%;
    max-width: 800px;
    background-color: darkgray;
    border-radius: 20px;
    margin: auto;
    border: 3px solid darkgray;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.field {
    border: 5px solid darkgray;
    border-radius: 20px;
    padding-top: 75%;
}

input {
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 3vw;
    position: relative;
    text-align: center;
    border: 3px solid darkgray;
    border-radius: 20px;
    margin: 0 5% 1% 5%;
}
