#container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#input-container {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-content: center;
}

#board {
    width: 80%;
    max-width: 800px;
    background-color: black;
    border-radius: 20px;
    margin: auto;
    border: 3px solid black;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.field {
    border: 5px solid black;
    border-radius: 20px;
    padding-top: 75%;
}
