:root {
    --width-percent: 95%;
    --max-width: 800px;
    --background-color: #232f34;
    --background-container: #344955;
    --background-container-darker: #233844;
    --title-text-color: lightgray;
    --board-background-color: #4a6572;
    --board-background-color-lighter: #6c8794;
    --board-background-color-darker: #395461;
    --input-text-color: #f5f5f5;
    --border-radius: 20px;
}

body {
    background-color: var(--background-color);
}

#container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: var(--max-width);
    margin: auto;
    margin-top: 0;
    padding-top: 10px;
    background-color: var(--background-container);
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--width-percent);
    align-self: center;
    margin-bottom: 1%;
    background-color: var(--board-background-color);
    color: var(--title-text-color);
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    border-radius: var(--border-radius);
}

#title {
    margin-left: 2%;
}

#help-icon {
    margin-right: 2%;
    padding-top: 0.5%;
}

#help-icon #help-text {
    visibility: hidden;
    padding: 1%;
    background-color: var(--board-background-color-lighter);
    color: var(--input-text-color);
    text-align: center;
    font-size: medium;
    border: 3px solid var(--background-container-darker);
    border-radius: 6px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    width: 38%;
    max-width: 722px;
    left: 30%;
    top: 100px;
    margin-left: -2px;
}

#help-icon:hover {
    color: #f9aa33;
}

#help-icon:hover #help-text{
    visibility: visible;
}

#input-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: var(--width-percent);
    margin: 0 auto 0 auto;
    padding: 1% 0 1% 0;
    background-color: var(--background-container);
    border-radius: var(--border-radius);
}

#board {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: var(--width-percent);
    margin: auto;
    background-color: var(--board-background-color);
    border: 3px solid var(--board-background-color);
    border-radius: var(--border-radius);
}

.field {
    margin: 2px;
    padding-top: 75%;
    border: 2px solid var(--board-background-color-darker);
    border-radius: var(--border-radius);
}

input {
    position: relative;
    margin: 0 5% 2% 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: var(--board-background-color);
    color: var(--title-text-color);
    text-align: center;
    font-size: 3vw;
    border-radius: var(--border-radius);
}

input[type=text] {
    background-color: var(--board-background-color-lighter);
    color: var(--input-text-color);
}

input[type=button]:hover {
    background-color: var(--board-background-color-darker);
}
